*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: ailerons;
  src: url(../assets/Ailerons-Typeface.woff)format("woff");
}

@font-face {
  font-family: galactico;
  src: url(../assets/Galactico-Basic.woff)format("woff");
}

html,
body{
  height: 100vh;
  background: url(../assets/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

canvas{
  position: absolute;
}

.container{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.mainbox{
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  position: absolute;
  bottom: 0.8%;
  width: 0%;/*0*/
  height: 0%;/*0*/
  animation: Display 1.5s 0.8s forwards;
  justify-content: center;
}
@keyframes Display{
  0%{
    width: 0%;
  }
  50%{
    width: 98%;
    height: 1%;
  }
  100%{
    width: 98%;
    height: 98%;
  }
}

.titlebox{
  font-family: ailerons, sans-serif;
  display: flex;
  color: white;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  animation: box forwards 1s 2.5s;
  align-items: center;
  margin-top: 1em;
}
@keyframes box{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.jumpsbox{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  width: 20em;
  height: 20em;
  opacity: 0;/*0*/
  align-items: center;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  animation: box forwards 1s 3s;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.jumpsbox::-webkit-scrollbar{
  display: none;
}

p{
  font-family: galactico;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.jump{
  display: flex;
  border-radius: 5px;
  color: white;
  min-height: 10em;
  min-width: 18em;
  margin-bottom: 2em;
  margin-top: 1em;
  box-shadow: inset 0 40px 30px 0 rgba(0, 0, 0, 0.8);
  scroll-snap-align: center;
}