*{
  margin: 0;
  padding: 0;
}

html,
body{
  height: 100vh;
  background: url('../assets/back.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/*load*/

.loading-1{
  display: flex;
  position: fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  opacity: 0;
  transition: 0.3s ease-in-out;
  transition-delay: 0.3s;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.loading-1.is-active{
  opacity: 1;
  pointer-events: all;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*load end*/